@media (min-width: 1200px) {
  .container {
    /* width: 1170px; */
  }

  .col-1 {
    width: 4.16666667%
  }
  
  .col-2 {
    width: 8.33333333%
  }
  
  .col-3 {
    width: 12.50000000%
  }
  
  .col-4 {
    width: 16.66666667%
  }
  
  .col-5 {
    width: 20.83333333%
  }
  
  .col-6 {
    width: 25.00000000%
  }
  
  .col-7 {
    width: 29.16666667%
  }
  
  .col-8 {
    width: 33.33333333%
  }
  
  .col-9 {
    width: 37.50000000%
  }
  
  .col-10 {
    width: 41.66666667%
  }
  
  .col-11 {
    width: 45.83333333%
  }
  
  .col-12 {
    width: 50.00000000%
  }
  
  .col-13 {
    width: 54.16666667%
  }
  
  .col-14 {
    width: 58.33333333%
  }
  
  .col-15 {
    width: 62.50000000%
  }
  
  .col-16 {
    width: 66.66666667%
  }
  
  .col-17 {
    width: 70.83333333%
  }
  
  .col-18 {
    width: 75.00000000%
  }
  
  .col-19 {
    width: 79.16666667%
  }
  
  .col-20 {
    width: 83.33333333%
  }
  
  .col-21 {
    width: 87.50000000%
  }
  
  .col-22 {
    width: 91.66666667%
  }
  
  .col-23 {
    width: 95.83333333%
  }
  
  .col-24 {
    width: 100.00000000%
  }
  
  
  .col-offset-1 {
    margin-left: 4.16666667%
  }
  
  .col-offset-2 {
    margin-left: 8.33333333%
  }
  
  .col-offset-3 {
    margin-left: 12.50000000%
  }
  
  .col-offset-4 {
    margin-left: 16.66666667%
  }
  
  .col-offset-5 {
    margin-left: 20.83333333%
  }
  
  .col-offset-6 {
    margin-left: 25.00000000%
  }
  
  .col-offset-7 {
    margin-left: 29.16666667%
  }
  
  .col-offset-8 {
    margin-left: 33.33333333%
  }
  
  .col-offset-9 {
    margin-left: 37.50000000%
  }
  
  .col-offset-10 {
    margin-left: 41.66666667%
  }
  
  .col-offset-11 {
    margin-left: 45.83333333%
  }
  
  .col-offset-12 {
    margin-left: 50.00000000%
  }
  
  .col-offset-13 {
    margin-left: 54.16666667%
  }
  
  .col-offset-14 {
    margin-left: 58.33333333%
  }
  
  .col-offset-15 {
    margin-left: 62.50000000%
  }
  
  .col-offset-16 {
    margin-left: 66.66666667%
  }
  
  .col-offset-17 {
    margin-left: 70.83333333%
  }
  
  .col-offset-18 {
    margin-left: 75.00000000%
  }
  
  .col-offset-19 {
    margin-left: 79.16666667%
  }
  
  .col-offset-20 {
    margin-left: 83.33333333%
  }
  
  .col-offset-21 {
    margin-left: 87.50000000%
  }
  
  .col-offset-22 {
    margin-left: 91.66666667%
  }
  
  .col-offset-23 {
    margin-left: 95.83333333%
  }
  
  .col-offset-24 {
    margin-left: 100.00000000%
  }
  
  .col-pull-1 {
    right: 4.16666667%
  }
  
  .col-pull-2 {
    right: 8.33333333%
  }
  
  .col-pull-3 {
    right: 12.50000000%
  }
  
  .col-pull-4 {
    right: 16.66666667%
  }
  
  .col-pull-5 {
    right: 20.83333333%
  }
  
  .col-pull-6 {
    right: 25.00000000%
  }
  
  .col-pull-7 {
    right: 29.16666667%
  }
  
  .col-pull-8 {
    right: 33.33333333%
  }
  
  .col-pull-9 {
    right: 37.50000000%
  }
  
  .col-pull-10 {
    right: 41.66666667%
  }
  
  .col-pull-11 {
    right: 45.83333333%
  }
  
  .col-pull-12 {
    right: 50.00000000%
  }
  
  .col-pull-13 {
    right: 54.16666667%
  }
  
  .col-pull-14 {
    right: 58.33333333%
  }
  
  .col-pull-15 {
    right: 62.50000000%
  }
  
  .col-pull-16 {
    right: 66.66666667%
  }
  
  .col-pull-17 {
    right: 70.83333333%
  }
  
  .col-pull-18 {
    right: 75.00000000%
  }
  
  .col-pull-19 {
    right: 79.16666667%
  }
  
  .col-pull-20 {
    right: 83.33333333%
  }
  
  .col-pull-21 {
    right: 87.50000000%
  }
  
  .col-pull-22 {
    right: 91.66666667%
  }
  
  .col-pull-23 {
    right: 95.83333333%
  }
  
  .col-pull-24 {
    right: 100.00000000%
  }
  
  
  .col-push-1 {
    left: 4.16666667%
  }
  
  .col-push-2 {
    left: 8.33333333%
  }
  
  .col-push-3 {
    left: 12.50000000%
  }
  
  .col-push-4 {
    left: 16.66666667%
  }
  
  .col-push-5 {
    left: 20.83333333%
  }
  
  .col-push-6 {
    left: 25.00000000%
  }
  
  .col-push-7 {
    left: 29.16666667%
  }
  
  .col-push-8 {
    left: 33.33333333%
  }
  
  .col-push-9 {
    left: 37.50000000%
  }
  
  .col-push-10 {
    left: 41.66666667%
  }
  
  .col-push-11 {
    left: 45.83333333%
  }
  
  .col-push-12 {
    left: 50.00000000%
  }
  
  .col-push-13 {
    left: 54.16666667%
  }
  
  .col-push-14 {
    left: 58.33333333%
  }
  
  .col-push-15 {
    left: 62.50000000%
  }
  
  .col-push-16 {
    left: 66.66666667%
  }
  
  .col-push-17 {
    left: 70.83333333%
  }
  
  .col-push-18 {
    left: 75.00000000%
  }
  
  .col-push-19 {
    left: 79.16666667%
  }
  
  .col-push-20 {
    left: 83.33333333%
  }
  
  .col-push-21 {
    left: 87.50000000%
  }
  
  .col-push-22 {
    left: 91.66666667%
  }
  
  .col-push-23 {
    left: 95.83333333%
  }
  
  .col-push-24 {
    left: 100.00000000%
  }    

  [class^="col-"], [class*=" col-"] {
    float: left;
    border-radius: 4px;
  }
  
  [class^="col-"]:before, [class*=" col-"]::before {
    display: table;
    content: "";
  }
  
  [class^="col-"]:after, [class*=" col-"]:after {
    clear: both;
  }
  
  .navbar-toggle {
    display: none;
  }

  .notifyBar > li {
    float: left;
  }
    /* 右边导航区 */
.sider {
    width: 190px;
    float: left;
    position: relative;
    padding-left: 0;
    padding-right: 0;
  
  /*      background-color: #f2f2f2;
    border-style: solid;
    border-color: #ccc;
    border-width: 0 1px 0 0
  */    }
  
  .sider:before {
    content: "";
    display: block;
    width: inherit;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: inherit;
  
    border-style: inherit;
    border-color: inherit;
    border-width: inherit;    
  }
  
  /* .sider:after, .split:after {
    display: table;
    clear: both;
    content: "";
  } */
  
  /* 设置左边菜单是否隐藏 */
  .split {
    float: left;
    top: 86px;
    /*bottom: 0;*/
    width: 1px;
    /*min-width: 20px;*/
    min-height: 100%;
    position: absolute;
    margin-left: 190px;
  
    background-color: #f2f2f2;
    border-style: solid;
    border-color: #ccc;
    border-width: 0 0 0 1px
  }
  
  .sider.toggle {
    /* display: none; */
    left: -190px;
    margin-left: 0;
    -webkit-transition:all 100ms ease 50ms;
    transition:all 100ms ease 50ms;
  }
  
  .split.toggle {
    -webkit-transition:all 1s ease;
    transition:all 1s ease;
    margin-left: 0;
  }
  
  .split > a {
    /*display: block;*/
    top: 50%;
    /*left: -190px;*/
    /*margin-top:-20px;*/
    /*padding: 0 15px;*/
    position: relative;
    color: #fff;
    background-color: #438eb9;
    /*height: 100%;*/
  } 
  
  /* 主内容区 */
  .main-content {
    margin-left: 190px;
    min-height: 100%;
  }
  
  .main-content.toggle {
    transition:all 1s ease;
    margin-left: 0;
  }
  
  .page-content {
    padding: 8px 15px;
    margin-bottom: 15px;
  }

  .vma-form-label {
    width: 100px;
  }

  .vma-wapper {
    margin-left: 100px;
  }
      
  /* 尾部内容区 */
  .footer {
    /*padding-top: 64px;*/
    /* height: 0;
    display: block;
    width: 0;
  
  
    border-style: solid;
    border-color: #ccc;
    border-width: 0 1px 0 0 */
  }

  .footer-inner {
    text-align: center;
    position: fixed;
    border-top: 1px solid #e2e2e2;
    /*font-size: 120%;*/
    z-index: auto;
    /*left: 190px;*/
    width: 100%;
    /*left: 0;*/
    right: 0;
    bottom: 0;
    margin: 15px 0;
  }

  .vma-upload-item, .vma-upload {
    width: 25%;
  }
}
  